.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px transparent #fff;
    border-radius: 5px;
  }
  
  .heading {
    display: flex;
    align-items:center;
    justify-content:center;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0069d9;
  }